<div class="content">
  <h2 class="post_title"><a href="/#"><%= post.title %></a></h2>
  <span class="post_date">
    <%= post.created_at.strftime("%B %e, %Y") %>
  </span>
  <%= raw(post.body) %>
  <div class="post_footer">
    <ul class="tag">
      <% for l in post.labels %>
        <li><%= l.label_name %></li>
      <% end %>
    </ul>
  <div class="comments"><%= link_to "0 Comments", '/#' %></div>
  </div>
</div>
